<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd


	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.learn.cms.site"/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:cms.properties"/>
    </bean>

    <!-- <jee:jndi-lookup id="dataSource" jndi-name="${jdbc.jndi.name}" /> -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          scope="singleton">
        <property name="driverClassName">
            <value>${jdbc.driverClassName}</value>
        </property>
        <property name="url">
            <value>${jdbc.url}</value>
        </property>
        <property name="username">
            <value>${jdbc.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
        <property name="initialSize">
            <value>3</value>
        </property>
        <property name="maxActive">
            <value>10</value>
        </property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
          p:dataSource-ref="dataSource"/>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--  enables the use of the @Transaction annotation -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Serve static resources -->
    <mvc:resources mapping="/assets/**" location="/assets/"/>

    <!-- we need to switch on the content negotiation manager by plug-in it into the overall configuration -->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"/>


    <!-- see http://www.baeldung.com/spring-mvc-content-negotiation-json-xml -->
    <bean id="contentNegotiationManager"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">

        <!-- method 1: curl http://localhost:8080/spring-mvc-java/employee/10.json -->
        <property name="favorPathExtension" value="true"/>

        <!-- method 2: curl http://localhost:8080/spring-mvc-java/employee/10?format=json -->
        <property name="favorParameter" value="true"/>
        <property name="parameterName" value="format"/>

        <!-- method 3: Via Http Request header (Accept:application/json, text/html) -->
        <property name="ignoreAcceptHeader" value="false"/>
        <property name="useJaf" value="false"/>


        <property name="defaultContentType" value="application/json"/>

        <!-- mediaTypes is useful only when favorParameter is set to true -->
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"/>
                <entry key="html" value="text/html"/>
                <entry key="xml" value="application/xml"/>
            </map>
        </property>
    </bean>

    <!-- ViewResolver -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".jsp"/>
        <property name="prefix" value="/WEB-INF/views/"/>
    </bean>

    <!-- Security Intercepter -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <bean class="com.learn.cms.site.util.SecurityInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
